.streamlit/secrets.toml
database/*.csv
!database/macro_database.csv
updater.py
mm_cookies.json
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
venv/
env/
.venv/
.idea/
.vscode/
.DS_Store
Thumbs.db